body {
    padding-top: 1em;
}

#sample {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./marrakech-desert-tours.jpg) no-repeat center center;
    background-size: cover;
}

.column {
    display: flex;
    flex-direction: row;
}

.column > div {
    margin: 20px;
    padding: 30px;
    width: 100px;
    height: 100px;
    position: relative;
    background: rgba(20, 20, 20, .5);
}

@media (max-width: 767px) {
    .column { flex-direction: column; }
    .column > div { width: 75px; height: 75px; padding: 20px 20px 30px; margin: 10px; }
}

#d, #h, #m, #s {
    width: 100%;
    height: 100%;
    position: relative;
}

.column>div>div::after {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -1.5em;
    width: 100%;
    text-align: center;
    font-size: .7em;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

#d::after {
    content: "days";
}

#h::after {
    content: "hours";
}

#m::after {
    content: "minutes";
}

#s::after {
    content: "seconds";
}